* {
    box-sizing: border-box;
}

#listings a {
    color: inherit !important;
    text-decoration: none !important;
}

.main-container {
    width: 75%;
    margin: 0 auto;
}

.listing-div {
    box-shadow: 3px 3px 3px #ccc, 0 0 0.4em #ccc;
}


/*form*/
.form-container {
    margin-top: 10rem;
}

.register-container {
    margin-top: 5rem;
}

.dataTables_filter{
    margin-bottom: 1rem !important;
}